.armor {
  display:inline-block!important;
  height:20px!important;
  width:20px!important;
  vertical-align:text-top!important;
  line-height:24px!important;
  background:url(/elements.png) no-repeat!important;
}

.water {
  background-position:-64px -22px!important;
}

/* x: 4, x:y 27px */
.metal {
  background-position:-43px -22px!important;
}

/* x: 13(26.7), x: 3(26) */
.wood {
  background-position: -43px -0px!important;
}


/* x: 2(), y:5() */ 
.fire {
	background-position: -0px -0px !important;
}

.earth {
	background-position: -21px -0px !important;
}

